Source: blankon-settings-gtk-3.0
Section: optional
Priority: extra
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Build-Depends: debhelper (>= 7), cdbs,
Standards-Version: 3.8.3
Homepage: http://dev.blankonlinux.or.id/

Package: blankon-settings-gtk-3.0
Architecture: any
Depends:  tebu-icon-theme, manokwari-theme
Description: blankon settings gtk-3.0
 blankon settings gtk-3.0
